* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #0b0b0f;
    color: white;
    height: 100vh;
    overflow: hidden;
}

/* LOADING */
#loading-screen {
    position: fixed;
    inset: 0;
    background: #0b0b0f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8s ease;
    z-index: 10;
}

.loader {
    position: relative;
    width: 140px;
    height: 140px;
}

svg {
    width: 140px;
    height: 140px;
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke-width: 10;
    stroke: #222;
}

#progress-circle {
    stroke: #7f5cff;
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    transition: stroke-dashoffset 0.3s;
}

#progress-text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* MENU */
#menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hidden {
    display: none;
}

h1 {
    font-size: 48px;
    letter-spacing: 10px;
}

.key-box {
    background: #16161f;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
}

button {
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    background: #7f5cff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #6846e3;
}
